<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="./_Layout.cshtml/_Layout.cshtml.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    
   
        @RenderBody()
 
    <!-- Vendor JS Files -->
    <script src="~/lib/bootstrap/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/lib/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/vendor/chart.js/chart.umd.js"></script>
    <script src="~/lib/bootstrap/vendor/echarts/echarts.min.js"></script>
    <script src="~/lib/bootstrap/vendor/quill/quill.min.js"></script>
    <script src="~/lib/bootstrap/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/lib/bootstrap/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/lib/bootstrap/vendor/php-email-form/validate.js"></script>

</body>
</html>
